.recentPosts {
  max-width: 900px;
  margin: auto;
}

.articleBottom {
  display: flex;
  justify-content: space-between;
}

#articles {
  display: grid;
  gap: 20px;
}

a {
  color: initial;
}

article {
  border-bottom: 1px solid lightgray;
}

article:hover h3 {
  color: blueviolet;
}
