.recentPosts a {
  color: inherit;
  text-decoration: none;
}

.recentPosts {
  max-width: 900px;
  margin: auto;
}

.articleBottom {
  display: flex;
  justify-content: space-between;
}

#articles {
  display: grid;
  gap: 20px;
}

article.ContentPreview {
  border-bottom: 1px solid lightgray;
}

article:hover.ContentPreview  h3 {
  color: blueviolet;
}
